.leftbar{
    background-color: #7E51FF;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    justify-content: space-between;
}

.stepper{
    display: flex;
    flex-direction: row;
    margin-top: -1em;
    margin-bottom: 1em;
}

.stepper .step{
    width: 18%;
    height: 0.2em;
    margin-right: 5px;
    background-color: #9E7CFF;
}

.stepper .active{
    background-color: #FFFFFF;
}

.leftbar .info{
    margin-top: -2em;
}

.leftbar .info p{
    font-size: 14px;
}

.leftbar .safelock{
    margin-top: -1.5em;
}

.safelock img{
    width: 100%;
    height: 15em;
}

.leftbar .footer {
    font-size: 14px;
}

.content{
    margin: 0px;
    width: 100%;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
}

.content .header p{
    text-align: right;
}

.content .header a{
    color: #FA4A84;
    text-decoration: none;
}

.content .header {
    width: 100%;
}

.content .main{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 4em auto;
}

.content .main .head h4{
    font-weight: 400;
}

.content .main .head p{
    font-weight: normal;
    color: #9DADBC;
    margin-top: -0.5em;
}

.main input{
    height: 10px;
}

.main .MuiFilledInput-root{
    height: 47px;
}

.main .MuiInputLabel-root.Mui-focused{
    color: #FA4A84;
}

.radioItem{
    width: 100%;
    box-shadow: 0 0 10px #B1BECA;
    height: auto;
    margin-top: 0.5em;
    padding: 10px;
    padding-bottom: 2px;
}

.radioItem .MuiFormControlLabel-root{
    align-items: flex-start;
}
.radioItem.active{
    border: 1px solid #F50057;
}
@media screen and (max-width: 450px) {
    .leftbar {
        height: 500px;
    }
    .content .main{
        width: 90%;
        margin: 1em auto;    
    }
    .mu-select{
        width: 29% !important;
    }
}
@media screen and (max-width: 768px) and (min-width: 450px) {
    .leftbar {
        height: 500px;
    }
    .content .main{
        width: 70%;
        margin: 1em auto;    
    }

}
@media screen and (max-width: 991px) and (min-width: 768px)  {
    .leftbar {
        height: 500px;
    }
    .content .main{
        width: 45%;
        margin: 2em auto;    
    }

}